header {
  width: 100%;
  .nav {
    position: fixed;
    z-index: 2;
    /* margin-bottom: 50px; */
    background-color: #fff;
    top: 0;
    height: 80px;
    object-fit: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    li,
    li a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80%;
      margin: 10px;
    }
  }
}

.minimal-footer {
  text-align: center;
  padding: 20px;
  color: #666;
  font-size: 14px;
  margin-top: 50px;
  position: fixed;
  bottom: 0;
}
