/* ============= Carousel ============= */

#carouselExampleIndicators {
  img {
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
  }
}

/* move right */

@keyframes right_center {
  from {
    transform: translate(1500px);
    opacity: 0;
  }
  to {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes center_left {
  from {
    transform: translate(0px);
    opacity: 1;
  }
  to {
    transform: translate(-1500px);
    opacity: 0;
  }
}

/* move left */
@keyframes center_right {
  from {
    transform: translate(0px);
    opacity: 1;
  }
  to {
    transform: translate(1500px);
    opacity: 0;
  }
}

@keyframes left_center {
  from {
    transform: translate(-1500px);
    opacity: 0;
  }
  to {
    transform: translate(0px);
    opacity: 1;
  }
}

/* ********* Products ************ */
.list-group {
  width: 80%;
  img {
    width: 10%;
  }
}

.card {
  width: 50%;
  object-fit: contain;
  height: 450px;
  margin: 20px auto;
  cursor: pointer;

  img {
    height: 50%;
  }
  .text-card {
    height: 35%;
  }
  .add-btn {
    border: none;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    right: 0px;
    img {
      margin: 0 75%;
    }
  }
  .truncate {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
